.cart-items {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 800px; 
  z-index: 998;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.cart-table-row {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  border-bottom: 1px solid #ccc;
}

.cart-header {
  font-weight: bold;
}

.cart-table-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-table-item,
.cart-table-price,
.cart-table-quantity,
.cart-table-total {
  flex: 1;
  padding: 8px;
  margin-right: 40px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.cart-item-remove-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item-remove-btn:hover {
  background-color: #d32f2f;
}

.cart-purchase-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.cart-purchase-button:hover {
  background-color: #45a049;
}

.cart-total {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
