.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  justify-content: center;
}

.product-card {
  margin: auto;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
