.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #070707;
  border-bottom: 1px solid white; 
  z-index: 997;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px; 
  margin-top: 8px;
  padding: 8px 20px;
}

.navItem:last-child {
  margin-right: 0;
}

.navItem a {
  color: #fff;
  text-decoration: none;
}

.navItem a:hover,
.navItem a:focus,
.navItem a:active {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navList {
    flex-direction: row;
    align-items: center;
  }
  .navItem {
    font-size: 14px;
    padding: 10px;
  }
}
