.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 400px;
  margin-top: 59px;
  background-color: #4b4a4a;
  text-align: center;
  margin-bottom: 20px;
}

.home-heading {
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem; 
  font-weight: bold;
  color: #fdfbfb;
  margin-top: 40px; 
}

.album-button {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem; 
  border: 1px solid aqua;
  background-color: #4b4a4a;
  color: #fdfbfb;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; 
}

.play-button {
  background-color: #4b4a4a;
  border-radius: 50%;
  padding: 30px;
  margin-top: 20px; 
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid aqua;
}

.play-icon {
  font-size: 30px; 
  color: aqua;
}

.lists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.lists-heading {
  font-size: 3rem; 
  font-weight: bold;
  margin-bottom: 40px;
}

.home-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  align-items: center;
  width: 1200px;
  background-color: rgb(248, 247, 247);
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.list-details {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  flex-grow: 1;
}

.list-details span {
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.buy-tickets-button {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: bold;
  background-color: #159ae7;
  color: #fdfbfb;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
  margin-bottom: 8px;
  display: block;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .home-heading {
    font-size: 3rem;
  }

  .album-button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .play-icon {
    font-size: 20px;
  }

  .lists-heading {
    font-size: 2rem;
  }

  .home-container {
    height: 400px; 
    margin-top: 30px; 
  }

  .play-button {
    padding: 20px; 
  }

  .list-item {
    flex-direction: column; 
    width: 90%; 
  }

  .list-details span {
    margin-left: 0; 
    text-align: center;
  }

  .buy-tickets-button {
    margin-left: 0; 
  }
}
